<%= render partial: "shared/error_list", locals: {new_object: @good} %>

<%= form_for @good do |f| %>  
    <div class="field <%= ' field_with_errors' if @good.errors[:name].any? %>">
        <%= f.label :name , "Name : " %>
        <%= f.text_field :name %>
    </div>

    <div class="field <%= ' field_with_errors' if @good.errors[:price].any? %>">
        <%= f.label :price , "Price : " %>
        <%= f.number_field :price, step: 0.01 %>
    </div>

    <div class="field <%= ' field_with_errors' if @good.errors[:calories].any? %>">
        <%= f.label :calories , "Calories : " %>
        <%= f.number_field :calories %>
    </div>

    <div class="field <%= ' field_with_errors' if @good.errors[:bake_shop_id].any? %>">
        <%= f.label :bake_shop_id , "Bake Shop : " %>
        <% 
            collection_bake_shop = BakeShop.all.to_a
            collection_bake_shop.unshift(BakeShop.new(id: nil, name: "No bake shop"))
        %>
        <%= f.collection_select :bake_shop_id, collection_bake_shop, :id, :name, {:selected => @good.id ? @good.bake_shop_id : nil}  %></div>
    </div>

    <div><%= f.submit %></div>
<% end %>
