<%= form_for @good do |f| %>  
    <% if @good.errors.any? %>
        <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
            <% @good.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    
    <div class="field <%= ' field_with_errors' if @good.errors[:name].any? %>">
        <%= f.label :name , "Name : " %>
        <%= f.text_field :name %>
    </div>

    <div class="field <%= ' field_with_errors' if @good.errors[:price].any? %>">
        <%= f.label :price , "Price : " %>
        <%= f.text_field :price %>
    </div>

    <div class="field <%= ' field_with_errors' if @good.errors[:calories].any? %>">
        <%= f.label :calories , "Calories : " %>
        <%= f.text_field :calories %>
    </div>

    <div class="field <%= ' field_with_errors' if @good.errors[:bake_shop_id].any? %>">
        <%= f.label :bake_shop_id , "Bake Shop : " %>
        <% 
            collection_bake_shop = BakeShop.all.to_a
            collection_bake_shop.unshift(BakeShop.new(id: nil, name: "No bake shop"))
        %>
        <%= f.collection_select :bake_shop_id, collection_bake_shop, :id, :name,{:selected => "Choose a bake shop"}  %></div>
    </div>

    <div><%= f.submit %></div>
<% end %>
